@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #eab2a0;
    --color-bg: #2d2c2c;
    --color-line: #4e4545;
    --color-secondary: #212121;
    --color-gary-1: #e0e0e0;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
  border-radius: 100vw;
  margin-block: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-line);
  border-radius: 100vw;
}

/* Cusrom scrollbar for Firefox browser */
@supports (scrollbar-color: var(--color-secondary) var(--color-line)) {
  * {
    scrollbar-color: var(--color-secondary) var(--color-line);
    scrollbar-width: thin;
  }
}
